*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar */

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    font-size: 25px;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
}

.nav-item{
    margin: 30px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(69, 167, 212);
    font-weight: 500;
}

a:hover{
    color: rgb(227, 73, 81);
}

/* Main Tile */

.home h1{
    /* color: aliceblue; */
    /* z-index: 10; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    /* top: 80%; */
    /* left: 50%; */
    /* transform: translate(-50%); */
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 100;
    /* background-color: black; */
}

.home img{
    width: 100%;
    align-items: center;
}

/* Featured Shows */

.featured-month {
    /* border: solid aqua 5px; */
    border-radius: 2px;
    background-color: black;
    color: aquamarine;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(196px); */
    font-size: 10px;
}

.featured-shows{
    display: grid;
    grid-template-columns: 800px;
    justify-content: center;
    align-items: center;
}

.shows{
    border: solid gray 2px;
    border-radius: 2px;
    background-color: rgb(224, 224, 224);
    align-items: center;
}

.thumbnail{
    display: inline-block;
}

.showinfo{
    display: inline-block;
    position: absolute;
    left: 500px;
    width: 300px;

}

.show-name{
    display: inline-block;
    position: absolute;
    left: 500px;
    width: 300px;
}

.show-button{
    display: inline-block
}

button{
    font-size: 20px;
    padding: 10px;
    border: solid rgb(127, 170, 255);
    background-color: rgb(198, 198, 249);
    float: right;
    margin-left: 200px;
    margin-bottom: 45px;
  
}

/* Footer */

footer {
    margin-bottom: 0px;
 }

 .social{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-evenly;
    padding-bottom: 15px;
 }

 .map {
    width: 250px;
    padding: 2%;
    padding-left: 50px;
 }

 .mapimg{
    width: 250px;
 }

 .footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
 }

 .footshow {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
 }

 .footsocial {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em:
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 3px; 
}